@import "tailwindcss";


@theme {
    --font-poppins: Poppins, sans-serif;
    --color-primary: #4169E1;
    --color-gradient-dark: linear-gradient(to right, rgba(3, 5, 23, 1), rgba(3, 5, 23, 1));
    --color-gradient-navy-royal:
        linear-gradient(to right, rgba(0, 0, 128, 1), rgba(65, 105, 225, 1), rgba(0, 0, 128, 1));
    --color-gradient-dark-blue: linear-gradient(to right, rgba(5, 7, 30, 1) 45%, rgba(0, 0, 128, 1), rgba(17, 26, 137, 1));
    --color-gradient-darker-blue: linear-gradient(to right top, rgba(5, 7, 30, 1) 75%, rgba(0, 0, 128, 1), rgba(17, 26, 137, 1));
    --color-royal: rgba(65, 105, 225, 1);
}

html,
body {
    font-family: var(--font-poppins);
}

.bg-gradient-dark-blue {
    background-image: var(--color-gradient-dark-blue);
}

.bg-gradient-dark {
    background-image: var(--color-gradient-dark);
}
.bg-gradient-darker-blue {
    background-image: var(--color-gradient-darker-blue);
}



.bg-gradient-blue {
    background-image: var(--color-gradient-navy-royal);
    background-size: 200% 100%;
    transition: background-position 0.5s ease;
}

/* Hover animation */
.bg-gradient-blue:hover {
    background-position: right center;
    animation: gradientShift 3s ease infinite;
}


.border-gradient-blue {
    border-color: var(--color-primary);
    border-width: 2px;

}

/* Keyframes for the button gradient animation */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}




.border-secondary {
    border-color: var(--color-royal);
}