@import "tailwindcss";


@theme {
    --font-poppins: Poppins, sans-serif;
    --color-primary: #4169E1;
    --color-gradient-black: linear-gradient(to bottom,
            rgba(2, 1, 6, 1) 0%,
            rgba(3, 2, 10, 1) 100%);
    --color-gradient-dark: linear-gradient(to right, rgba(3, 5, 23, 1), rgba(3, 5, 23, 1));
    --color-gradient-white: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 100%);
    --color-gradient-dark-shade: linear-gradient(to right bottom, rgba(4, 4, 10, 1) 0%, rgba(19, 22, 60, 1) 100%);
    --color-gradient-deep-blue: linear-gradient(to right, rgba(5, 7, 30, 1), rgba(5, 7, 30, 1));
    --color-gradient-navy-royal:
        linear-gradient(to right, rgba(0, 0, 128, 1), rgba(65, 105, 225, 1), rgba(0, 0, 128, 1));
    --color-gradient-dark-blue: linear-gradient(to right, rgba(5, 7, 30, 1) 45%, rgba(0, 0, 128, 1), rgba(17, 26, 137, 1));
    --color-gradient-darker-blue: linear-gradient(to right top, rgba(5, 7, 30, 1) 80%, rgba(17, 26, 137, 1), rgba(0, 0, 128, 1) 90%);
    --color-royal: rgba(65, 105, 225, 1);
    --color-gradient-blue-radial: radial-gradient(circle at center, rgba(65, 105, 225, 1) 60%, rgba(10, 20, 50, 1) 80%, rgba(3, 5, 23, 1) 100%);
    --color-gradient-coral: linear-gradient(to right, rgba(1, 180, 222, 1) 45%, rgba(201, 201, 201, 0), rgba(1, 180, 222, 1));


}

html,
body {
    font-family: var(--font-poppins);
}

.bg-gradient-dark-blue {
    background-image: var(--color-gradient-dark-blue);
}

.bg-gradient-black {
    background-image: var(--color-gradient-black);
}

.bg-gradient-white {
    background-image: var(--color-gradient-white);
}


.border-primary {
    border-color: var(--color-primary);
}


.bg-gardient-deep-blue {
    background-image: var(--color-gradient-deep-blue-linear);
}

.bg-gardient-dark-shade {
    background-image: var(--color-gradient-dark-shade);
}

.bg-gradient-dark {
    background-image: var(--color-gradient-dark);
}

.bg-gradient-deep-blue {
    background-image: var(--color-gradient-deep-blue);
}

.bg-gradient-darker-blue {
    background-image: var(--color-gradient-darker-blue);
}



.bg-gradient-blue {
    background-image: var(--color-gradient-navy-royal);
    background-size: 200% 100%;
    transition: background-position 0.5s ease;
}

/* Hover animation */
.bg-gradient-blue:hover {
    background-position: right center;
    animation: gradientShift 3s ease infinite;
}


.border-gradient-coral {
    border-color: var(--color-gradient-coral);
    border-width: 2px;

}

.bg-gradient-blue-radial {
    background-image: var(--color-gradient-blue-radial);
}



/* Keyframes for the button gradient animation */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}